<!doctype html>
<html lang="en"xmlns:th="https://www.thymeleaf.org">
<div th:replace="fragment/head"></div>
<body>
<div th:replace="fragment/navbar"></div>
<div class="container" >
    <a class="btn btn-primary" href="/create" role="button">Create new Article</a>
    <span> <a href="/?lang=en">English</a></span> <span><a href="/?lang=kh"> Khmer</a></span> <span><a href="/?lang=ko"> korea</a></span>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th th:text="#{content.title}" scope="col"></th>
            <th th:text="#{content.description}" scope="col"></th>
            <th th:text="#{content.image}" scope="col"></th>
            <th th:text="#{content.action}" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="home : ${dataTable}">
            <th th:text="${home.getId}" scope="row">1</th>
            <td th:text="${home.getTitle()}"></td>
            <td th:text="${home.getDescription()}"></td>
            <td><img th:src="@{'/photo/' + ${home.getImage()}}" width="75"></td>
            <td>
                <a class="btn btn-outline-success" th:href="@{/view/{id}(id=${home.getId()})}" role="button">View</a>
                <a class="btn btn-outline-warning" th:href="@{/edit/{id}(id=${home.getId()})}" role="button">Edit</a>
                <a type="button" class="btn btn-outline-danger" th:href="@{/delete/{id}(id=${home.getId()})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>