<!doctype html>
<html lang="en"xmlns:th="https://www.thymeleaf.org">
<div th:replace="fragment/head"></div>
<body>
<div th:replace="fragment/navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 25rem;">
                <img class="card-img-top" th:src="@{'/photo/' + ${view.getImage()}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${view.getTitle()}"></h5>
                    <p class="card-text" th:text="${view.getDescription()}"></p>
                    <a href="/" class="btn btn-primary">Go back</a>
                </div>
                <div id="disqus_thread"></div>
            </div>
        </div>
    </div>
</div>
<div th:include="fragment/disqus.html"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>